footer {
 padding-top:20px;
 padding-bottom:20px;
 background-color:#242424;
}
body{
  background-color: #e6e6e6!important;
  color: black;
  font: 13px/1.7em 'Open Sans';
}

.georgiesbutton{
  width:500px;
  color:green;
}
