{% extends "base.html" %}

{% block content %}

<form method="POST" action="/account-setup">
  <ul class="list-group" style="margin-left:5px;">
    <li class="list-group-item">

    </br>
    <div class="row">
      <div class="col-sm-3">
        Firstname:
      </div>
      <div class="col-sm-3">
        <input type="text" name="firstname" value="{{account_details['forname']}}">
      </div>
      <div class="col-sm-3">
        Lastname:
      </div>
      <div class="col-sm-3">
        <input type="text" name="surname" value="{{account_details['surname']}}">
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-sm-3">
        Date of birth (Example: 10/01/2017):
      </div>
      <div class="col-sm-3">
        <input type="text" name="date_of_birth" value="{{account_details['date_of_birth']}}">
      </div>
      <div class="col-sm-3">
        Gender:
      </div>
      <div class="col-sm-3">
        <input type="text" name="gender" value="{{account_details['gender']}}">
      </div>
    </div>
    <div class="row">
      <button type="submit"  style="margin-right:5px;" value="Submit" class="btn btn-success pull-right">
        Save
</button>
    </div>
  </li>
</br>


</form>

{% endblock %}
