{% extends "base.html" %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-sm-12">

  <ul class="list-group" style="margin-left:5px; max-height:1000px; height:1000px;">
    <li class="list-group-item">
      <table class="table">
        <thead>
          <tr>
            <th>Document Type</th>
            <th>Status</th>
            <th>Download Links</th>
            <th>Notes</th>
            <th>Upload Document</th>
          </tr>
        </thead>
        <tbody>
          {% for docs in document %}
            {% for i in docs %}
          <tr>
            <form method="post" action="/documents" enctype="multipart/form-data">

            <td> {{docs[i]['document_type']['document_type']}}
              <input value="{{docs[i]['document_type']['id']}}" name="type_id" hidden></input></td>
              <td>
            {% for state in docs[i]['document_type']['status'] %}
            <input value="{{state['id']}}" name="status_id" hidden></input>

            {{state['status']}}
            {% endfor %}
            </td>

            <td>
              {% for link in docs[i]['doc_url'] %}
                {% for i in link %}
              <a href="{{link[i]}}">{{i}}</a></br>
              {% endfor %}
              {% endfor %}
            <td> {% for note in docs[i]['document_type']['notes'] %}
            {{note['note']}}</p>
            {% endfor %}</td>
            <td>
              <input value="{{bucket_name}}" name="bucket_name" hidden></input>
              <input type="file" name="file"></input>
              <p>Upload document</p>
              <button class="btn" onclick="myFunction()">Upload</button>
            </form>

              </td>
          </tr>
           {% endfor %}
          {% endfor %}
        </tbody>

      </table>
    </li>
  </ul>
    </div>

</form>
    </div>



  </div>


<script>
function myFunction() {
    var x = document.getElementById("myFile");
    x.disabled = true;
}
</script>
{% endblock %}
