footer {
 padding-top:20px;
 padding-bottom:20px;
 background-color:#242424;
}

.georgiesbutton{
  width:500px;
  color:green;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 250, 250, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(67, 153, 109, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(67, 153, 109, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(67, 153, 109, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(67, 153, 109, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #43996d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #43996d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #43996d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #43996d;
}
