{% extends "base.html" %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <ul class="list-group" style="margin-left:5px; max-height:200px; height:200px;">
        <li class="list-group-item">

      <table class="table">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Client name</th>
            <th>bucket</th>
              <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
                {% for bucket_name in user_buckets %}
                {% for i in bucket_name %}
          <tr>

            <td></td>
            <td>{{bucket_name[i]['Client_name']}}</td>
            <td><a href="/bucket/{{bucket_name[i]['bucket_name']}}"> {{bucket_name[i]['bucket_name']}} </a></td>
<td>

      <span class="badge"> {{bucket_name[i]['notification']['no']}}</span>

</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>

</form>
</li>
</ul>
    </div>


  </div>

</div>

<script>
function myFunction() {
    var x = document.getElementById("myFile");
    x.disabled = true;
}
</script>
</form>

{% endblock %}
