{% extends "base.html" %}

{% block content %}
<form method="POST" action="/register">

  <ul class="list-group" style="margin-left:5px;">
    <li class="list-group-item">

    </br>
    <div class="row">
      <div class="col-sm-1">
        Username:
      </div>
      <div class="col-sm-2">
        <input type="text" name="username">
      </div>
      <div class="col-sm-1">
        password:
      </div>
      <div class="col-sm-2">
        <input type="text" name="password" >
      </div>
    </div>
  </li>
</ul>
<input type="submit" value="Submit">


</form>
{% endblock %}
