{% extends "base.html" %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>Document Type</th>
            <th>Required?</th>
            <th>Status</th>
            <th>Add Note</th>
            <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
          {% for doc in types %}
          <tr>
            <td>{{doc['document_type']}}</td>
            <td><a href="/download-document/{{doc}}/{{bucket_name}}">Download Link</a><form method="POST" action="/delete-document/{{doc}}/{{bucket_name}}">
            <input type="submit" value="Delete"></input>
          </form></td>
          <td></td>
          <td></td>
          <td>
          <form method="post" action="/post-document" enctype="multipart/form-data">
          <input value="{{bucket_name}}" name="bucket_name" hidden></input>
          <input type="file" name="file"></input></br>
          <button class="btn" onclick="myFunction()">Upload</button>
    </form>
  </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>



  </div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myFile");
    x.disabled = true;
}
</script>


{% endblock %}
