{% extends "base.html" %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <table class="table">
        <thead>
          <tr>
            <th>Document name</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
          {% for doc in documents['data'] %}
          <tr>
            <td>{{doc}}</td>
            <td><a href="/download-document/{{doc}}/{{bucket_name}}">Download Link</a></td>
            <td><a href="/delete-document/{{doc}}/{{bucket_name}}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</form>
    </div>


  </div>

</div>

<script>
function myFunction() {
    var x = document.getElementById("myFile");
    x.disabled = true;
}
</script>
</form>

{% endblock %}
