{% extends "base.html" %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <table class="table">
        <thead>
          <tr>
            <th>Document name</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
          {% for doc in documents['data'] %}
          <tr>
            <td>{{doc}}</td>
            <td><a href="/download-document/{{doc}}/{{bucket_name}}">Download Link</a></td>
            <form method="POST" action="/delete-document/{{doc}}/{{bucket_name}}">
            <td><input type="submit" value="Delete"></input></td>
          </form>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-5">
      <form method="post" action="/post-document" enctype="multipart/form-data">
      <input value="{{bucket_name}}" name="bucket_name"></input>
      <input type="file" name="file"></input>
      <p>Upload document</p>
      <button class="btn" onclick="myFunction()">Try</button>

    </div>

  </div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myFile");
    x.disabled = true;
}
</script>
</form>

{% endblock %}
