Flask==0.11.1
requests==2.10.0
Flask-Script==2.0.5
flask-login
flask-mail
flask-sqlalchemy
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
flask-babel
guess_language
flipflop
pytest==2.9.2
pytest-cov==2.3.1
coverage==4.2
